::ng-deep {
  .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .order-status {
    box-shadow: none!important;
    cursor: default!important;
    &.pending {
      background-color: #FFE0B2!important;
      color: #000!important;
    }
    &.processing {
      background-color: #C8E6C9;
      color: #000!important;
    }
    &.in-transit {
      background-color: #C8E6C9;
      color: #000!important;
    }
    &.completed {
      background-color: #E0E0E0;
      color: #000!important;
    }
    &.rejected {
      background-color: #E0E0E0;
      color: #000!important;
    }
    &.cancelled {
      background-color: #E0E0E0;
      color: #000!important;
    }
    &.partially-fulfilled {
      background-color: #E0E0E0;
      color: #000!important;
    }
  }
  .inner-content-title {
    margin-left: 8px!important;
    margin-right: 8px!important;
  }
  /* Put this code in your CSS file */


}
